@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #5EEB5B;
  --blue: #1E96FC;
  --yellow: #FFC600;
  --black: #16262E;
  --background: #ffffff;
  --foreground: #16262E;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.font-display {
  font-family: var(--font-display), serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
